<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
      <title>Cases DB Login</title>
 </head>

  <body>
    <form id="login-form" action="/login" method="post">
      <ul>
        <li>
          <label for="login">login</label>
          <input type="text" id="login" name="login">
        </li>
        <li>
          <label for="password">password</label>
          <input type="password" id="password" name="password">
        </li>
      </ul>
        <button type="submit" role="button">LogIn</button>
    </form>
    <h1>Login incorrect :-(</h1>
  </body>
</html>
